body {
	background-color: rgba(21, 13, 51, 0.932);
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: monospace;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@300&display=swap');

:global(*) {
	font-family: 'Roboto', sans-serif;
}

@font-face {
	font-family: 'scrypta';
	src: url(/src/routes/ScryptaPersonalUseBoldItalic-X3eoP.ttf);
}

button {
	background-color: rgba(21, 13, 51, 0.932);
	color: white;
	width: 100px;
	font-family: 'Roboto', sans-serif;
	height: 40px;
	border-radius: 20px;
	margin-right: 5px;
	margin-bottom: 5px;
}
